@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  
.RegisterModal {  
  padding-top: 2%;
  position: absolute;  
  left: 20%;  
  right: 20%;  
  top: 15%;  
  bottom: 15%;
  background-color: #254e58;
  border-radius: 25px;
  color: white;
}

.Inputs {
  width: 50%;
  margin: auto;
}

.Button {
    padding-bottom: 2%;
    padding-top: 2%;
}